<div class="w-100 row" style="height: 93vh">
    <div class="col-2 bg-dark">
        <h5 class="text-center mt-4"><a routerLink="/home" class="text-decoration-none text-light">Home</a></h5>
        <h5 class="text-center mt-4"><a routerLink="/employee" class="text-decoration-none text-light">Employee</a></h5>
    </div>
    <div class="col-10">
        <div class="d-flex justify-content-between mt-3">
            <h3>Employee List</h3>
            <a class="btn btn-success" routerLink="/employee/addemp">
                <i class="fa-solid fa-user-plus"></i>Add employee
            </a>
        </div>
        <h4>
            {{cdate|date}}
        </h4>
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <input type="text" placeholder="Search with username" class="form-control">
                <button class="btn btn-secondary">Sort</button>
            </div>
            <button class="btn btn-primary">Export</button>
        </div>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>username</th>
                    <th>email</th>
                    <th>status</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of employees">
                    <td>{{i.id}}</td>
                    <td>{{i.username}}</td>
                    <td>{{i.email}}</td>
                    <td>
                        <span class="btn btn-success" *ngIf="i.status=='active';else elsedata">active</span>
                        <ng-template #elsedata>
                            <span class="btn btn-danger" >Inactive</span>
                        </ng-template>
                    </td>
                    <td>
                        <a routerLink="/employee/editemp/{{i.id}}"><i class="fa-solid fa-pen-to-square fa-xl px-3" style="color:blue"></i></a>
                        <i class="fa-solid fa-trash fa-xl" style="color:red"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
